<div class="row" style="background-color:#F5F5F5">
    <div class="row">
        <div class="col-12">
            <app-nav></app-nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <!-- Breadcrumbs -->
            <section class="breadcrumbs-custom-inset">
                <div class="breadcrumbs-custom context-dark">
                    <div class="container">
                        <h2 class="breadcrumbs-custom-title">ABOUT US</h2>
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">ABOUT US</li>
                        </ul>
                    </div>
                    <!-- <div class="box-position" style="background-image: url(../../../assets/interior/interior_mantana/มัณ1.png);"></div> -->
                </div>
            </section>
            <!-- Why choose us-->
            <section class="section section-sm bg-default text-md-left bg_second_cl">
                <div class="container">
                    <div class="row  justify-content-end m-0 p-0">
                        <div class="col-sm-6  m-0 p-0">
                            <h1 class="text-spacing-25 font-weight-normal title-opacity-9">About Us</h1>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-xl-center">
                        <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                            <img src="../../../assets/interior/interior_asiatique/เอเชียทีค4.png" alt="" width="519" height="564" />
                        </div>
                        <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                            <!-- Bootstrap tabs-->
                            <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-3">
                                <!-- Nav tabs-->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-3-1" data-toggle="tab">Experience</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-3-2" data-toggle="tab">service</a></li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-3-1">
                                        <p class="text-break fs-6"><b>บริษัทเวลพลัส อินทิเรีย จำกัด </b><br>ดำเนินธุรกิจมายาวนาน เกี่ยวกับการออกแบบตกแต่งภายในและรับเหมาครบวงจร จบในที่เดียว โดยรับให้บริการตั้งแต่ การออกแบบ การประเมินราคา งานก่อสร้าง ต่อเติม จนถึงงานตกแต่งภายใน เฟอร์นิเจอร์บิ้วอิน
                                            ตลอดจน ผ้าม่าน วอลเปเปอร์ ท๊อปหินงานครัว-งานผนังโชว์ และ งานพื้นกระเบื้องยาง เพื่ออำนวยความสะดวก และสร้างความมั่นใจให้ลูกค้า ด้วยทีมงานมืออาชีพที่มีประสบการณ์และความรู้เฉพาะทาง<br><b>" ดีลที่เดียวจบ ครบไม่ปวดหัว"</b>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-3-2">
                                        <div class="text-center text-sm-left offset-top-30">
                                            <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-primary d-inline-block d-sm-block">
                                                <li>Interior</li>
                                                <li>Design & 3D</li>
                                                <li>Construction</li>
                                                <li>Interior+Furniture</li>
                                                <li>Decoration</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 m-auto text-center">
                            <h2 class="title-opacity-3">WELL PLUS <br> INTERIOR</h2>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../assets/3D/3D_Mantana/มัณฑนา2.png" alt="" srcset="" width="519" height="564">
                        </div>

                    </div>
                </div>
            </section>
            <!-- Our clients-->
            <section class="section section-sm bg-default">
                <div class="container">
                    <!-- Owl Carousel-->
                    <h3>Our clients</h3>
                    <div class="owl-carousel owl-clients" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                        <a class="clients-modern" href="#" *ngFor="let ref of imageRef">
                            <img src="../../../assets/ref-Logo/{{ref}}" alt="" class="img_ref" />
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
<app-footer></app-footer>