<!-- Breadcrumbs -->
<section class="breadcrumbs-custom-inset">
    <div class="breadcrumbs-custom context-dark">
        <div class="container">
            <h2 class="breadcrumbs-custom-title">SERVICE</h2>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">Service</li>
            </ul>
        </div>
        <p>{{imageDetail}}</p>
        <!-- <div class="box-position" style="background-image: url(../../../assets/interior/interior_nana/นานา1.png);"></div> -->
    </div>
</section>