<!-- Breadcrumbs -->
<section class="breadcrumbs-custom-inset">
    <div class="breadcrumbs-custom context-dark">
        <div class="container">
            <h2 class="breadcrumbs-custom-title">Contact Us</h2>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
        <div class="box-position" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
    </div>
</section>
<section class="section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.621824225227!2d100.68019021482905!3d13.619893990432933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d5fcf31729451%3A0x508d4ddd67deb62!2sWell%20Plus%20Interior!5e0!3m2!1sth!2sth!4v1644003425447!5m2!1sth!2sth"
        width="100%" height="500 " frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<!-- Contact information-->
<section class="section section-sm bg_second_cl bg-default ">
    <div class="container ">
        <div class="row row-30 justify-content-center ">
            <div class="col-md-4 col-lg-4 ">
                <article class="box-contacts bg_first_cl ">
                    <div class="box-contacts-body ">
                        <div class="box-contacts-icon fl-bigmug-line-cellphone55 "></div>
                        <div class="box-contacts-decor "></div>
                        <p class="box-contacts-link "><a href="tel:# ">02-101-4984</a></p>
                        <p class="box-contacts-link "><a href="tel:# ">080-901-7778</a></p>
                        <p class="box-contacts-link "><a href="tel:# ">099-324-3435</a></p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-lg-4 ">
                <article class="box-contacts bg_first_cl ">
                    <div class="box-contacts-body ">
                        <div class="box-contacts-icon fl-bigmug-line-up104 "></div>
                        <div class="box-contacts-decor "></div>
                        <p class="box-contacts-link ">
                            <a href="# ">99/469 หมู่ที่ 2 ถ. หนามแดง   ต. บางพลีใหญ่ อ.บางพลี จ.สมุทรปราการ</a>
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-lg-4 ">
                <article class="box-contacts bg_first_cl ">
                    <div class="box-contacts-body ">
                        <div class="box-contacts-icon fl-bigmug-line-chat55 "></div>
                        <div class="box-contacts-decor "></div>
                        <p class="box-contacts-link "><a href="# "><span class="__cf_email__ " data-cfemail="# ">wellplusinterior@hotmail.com </span></a></p>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>