#imageSlide {
    width: auto;
    height: 450px;
}

.fontHead {
    line-height: 1.25;
    font-size: 1.7vw;
    color: #A58838;
    font-weight: bold;
}

.fontTitle {
    line-height: 1.25;
    font-size: 2.2vw;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
}

@media (max-width: 991.98px) {
    .fontTitle {
        line-height: 1.25;
        font-size: 5vw;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
    .fontHead {
        line-height: 1.25;
        font-size: 4vw;
    }
}

@media (max-width: 575.98px) {
    .fontTitle {
        line-height: 1.25;
        font-size: 5.5vw;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
    .fontHead {
        line-height: 1.25;
        font-size: 4.4vw;
    }
    #imageSlide {
        width: auto;
        height: 300px;
    }
}