<div class="page">

    <!-- slider section start -->
    <section class="section swiper-container swiper-slider swiper-slider-modern" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="true" data-slide-effect="fade">
        <div class="swiper-wrapper text-left">
            <!-- slide 1 start -->
            <div class="swiper-slide" data-slide-bg="images/banner/banner-1.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                                <div class="slider-modern-box">
                                    <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">Interior</span><span data-caption-animate="slideInUp" data-caption-delay="0">Architecture</span></h2>
                                    <p data-caption-animate="fadeInRight" data-caption-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus porttitor bibendum. Aliquam ut mi augue.</p>
                                    <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInLeft" data-caption-delay="400">Shop now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slide 2 start -->
            <div class="swiper-slide" data-slide-bg="images/banner/banner-2.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
                                <div class="slider-modern-box">
                                    <h2 class="oh slider-modern-title"><span data-caption-animate="slideInLeft" data-caption-delay="0">Professionals</span><span data-caption-animate="slideInUp" data-caption-delay="0">Architecture</span></h2>
                                    <p data-caption-animate="fadeInRight" data-caption-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus porttitor bibendum. Aliquam ut mi augue.</p>
                                    <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInLeft" data-caption-delay="400">Shop now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slide 3 start -->
            <div class="swiper-slide" data-slide-bg="images/banner/banner-3.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-11 col-sm-8 col-md-7 col-lg-5 col-xxl-4">
                                <div class="slider-modern-box">
                                    <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">Unique & Clean</span><span data-caption-animate="slideInLeft" data-caption-delay="0">Architecture</span></h2>
                                    <p data-caption-animate="fadeInRight" data-caption-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus porttitor bibendum. Aliquam ut mi augue.</p>
                                    <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInUp" data-caption-delay="400">Shop now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Swiper Navigation-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination swiper-pagination-style-2"></div>
    </section>
    <!-- slider section end -->
    <!-- Offer section start -->
    <section class="section section-sm bg-default bg_second_cl">
        <div class="container">
            <div class="headingTitle">
                <h1>What We <span>Offer</span></h1>
                <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
            </div>
            <div class="row row-30 justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <div class="oh">
                        <article class="box-sportlight">
                            <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-1.jpg" alt="" width="770" height="332" /></a>
                            <div class="box-sportlight-caption">
                                <h5 class="box-sportlight-title"><a href="#">Office Room</a></h5>

                            </div>
                            <div class="box-sportlight-badge box-sportlight-new">New</div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="box-sportlight box-sportlight-sm">
                            <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-2.jpg" alt="" width="370" height="339" /></a>
                            <div class="box-sportlight-caption">
                                <h5 class="box-sportlight-title"><a href="#">Drawing Room</a></h5>

                            </div>
                            <div class="box-sportlight-badge box-sportlight-sale">-30%</div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="box-sportlight box-sportlight-sm">
                            <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-3.jpg" alt="" width="370" height="332" /></a>
                            <div class="box-sportlight-caption">
                                <h5 class="box-sportlight-title"><a href="#">Get New & Amazing Dsign</a></h5>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh">
                        <article class="box-sportlight">
                            <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-4.jpg" alt="" width="370" height="332" /></a>
                            <div class="box-sportlight-caption">
                                <h5 class="box-sportlight-title"><a href="#">Kichen</a></h5>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="box-sportlight box-sportlight-sm">
                            <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-5.jpg" alt="" width="370" height="332" /></a>
                            <div class="box-sportlight-caption">
                                <h5 class="box-sportlight-title"><a href="#">Sleeping Room</a></h5>

                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Offer section end -->
    <!-- Projects section start -->
    <section class="section section-sm bg-default">
        <div class="container">
            <div class="headingTitle">
                <h1>Best Interior <span>Projects</span></h1>
                <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
            </div>
            <div class="row row-30" data-lightgallery="group">
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="thumbnail thumbnail-mary thumbnail-sm">
                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-7.jpg" alt="" width="370" height="303" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-7.jpg" data-lightgallery="item"><img src="images/products/products-img-7.jpg" alt="" width="370" height="303" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project.html">Vimeo video <span>Brand & Design</span></a></h5>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="thumbnail thumbnail-mary thumbnail-sm">
                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-8.jpg" alt="" width="370" height="303" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-8.jpg" data-lightgallery="item"><img src="images/products/products-img-8.jpg" alt="" width="370" height="303" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project.html">Vimeo video <span>Brand & Design</span></a></h5>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="thumbnail thumbnail-mary thumbnail-sm">
                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-9.jpg" alt="" width="370" height="303" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-9.jpg" data-lightgallery="item"><img src="images/products/products-img-9.jpg" alt="" width="370" height="303" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project.html">Vimeo video <span>Brand & Design</span></a></h5>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="thumbnail thumbnail-mary thumbnail-sm">
                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-10.jpg" alt="" width="370" height="303" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-10.jpg" data-lightgallery="item"><img src="images/products/products-img-10.jpg" alt="" width="370" height="303" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project.html">Vimeo video <span>Brand & Design</span></a></h5>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="thumbnail thumbnail-mary thumbnail-sm">
                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-11.jpg" alt="" width="370" height="303" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-11.jpg" data-lightgallery="item"><img src="images/products/products-img-11.jpg" alt="" width="370" height="303" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project.html">Vimeo video <span>Brand & Design</span></a></h5>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="oh-desktop">
                        <article class="thumbnail thumbnail-mary thumbnail-sm">
                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-12.jpg" alt="" width="370" height="303" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-12.jpg" data-lightgallery="item"><img src="images/products/products-img-12.jpg" alt="" width="370" height="303" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project.html">Vimeo video <span>Brand & Design</span></a></h5>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects section end -->
    <!-- call section start -->
    <section class="section bg-default text-md-center">
        <div class="parallax-container" data-parallax-img="images/bg-cta-2.jpg">
            <div class="parallax-content section-sm context-dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-7">
                            <h3 class="oh font-weight-normal"><span class="d-inline-block">Get New & Amazing Design From Us!</span></h3>
                            <p class="text-spacing-75">Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
                            <a class="button button-secondary button-ujarak" href="shop.html">Shop now</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- call section end -->
    <!-- About us section start -->
    <section class="section section-sm bg-default">
        <div class="container">
            <div class="headingTitle">
                <h1>About <span> us</span></h1>
                <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
            </div>
            <div class="row row-lg row-50 justify-content-center border-classic border-classic-2">
                <div class="col-sm-6 col-md-3">
                    <div class="counter-creative">
                        <div class="counter-creative-number"><span class="counter">12</span><span class="icon counter-creative-icon fl-bigmug-line-trophy55"></span> </div>
                        <h6 class="counter-creative-title">Awards</h6>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="counter-creative">
                        <div class="counter-creative-number"><span class="counter">2</span><span class="symbol">k</span><span class="icon counter-creative-icon fl-bigmug-line-cube29"></span> </div>
                        <h6 class="counter-creative-title">Projects</h6>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="counter-creative">
                        <div class="counter-creative-number"><span class="counter">679</span><span class="icon counter-creative-icon fl-bigmug-line-sun81"></span> </div>
                        <h6 class="counter-creative-title">Happy clients</h6>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="counter-creative">
                        <div class="counter-creative-number"><span class="counter">25</span><span class="icon counter-creative-icon fl-bigmug-line-user143"></span> </div>
                        <h6 class="counter-creative-title">Team members</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us section end -->
    <!-- What people say start -->
    <section class="section section-sm bg-default bg_second_cl">
        <div class="container">
            <div class="headingTitle">
                <h1>What <span>people</span> say</h1>
                <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
            </div>
            <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/1.jpg" alt="" width="100" height="100" /></a>
                        <div class="quote-lisa-text">
                            <p class="q">I just wanted to say thank you and the team very much for the brilliant service around renovating the floors at our house. You were absolutely brilliant and we can see you’ve gone the extra mile matching the floors between
                                rooms etc. You’ve kept the place really tidy too, cannot ask for more.</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Catherine Williams</a></h5>
                        <p class="quote-lisa-status">Client</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/2.jpg" alt="" width="100" height="100" /></a>
                        <div class="quote-lisa-text">
                            <p class="q">Fantastic service from start to finish. After our ceiling collapsed we never thought our damaged floor would look so good again. These guys worked in a tight time frame and were very accommodating to the other trades working
                                in the same area to produce brilliant results and restore our badly damaged floor to look like new!</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Rupert Wood</a></h5>
                        <p class="quote-lisa-status">Client</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/3.jpg" alt="" width="100" height="100" /></a>
                        <div class="quote-lisa-text">
                            <p class="q">The floor looks magnificent and the parquet in the hall sets it off beautifully. Your men were excellent, you were delightful and nothing was too much trouble for you. You have very tidy workers, covering everything, and the
                                house was left in a good shape as the condition allowed.</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Sam Brown</a></h5>
                        <p class="quote-lisa-status">Client</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- What people say end -->
    <!-- Team section start -->
    <section class="section section-sm bg-default">
        <div class="container">
            <div class="headingTitle">
                <h1>Team of <span>professionals</span></h1>
                <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
            </div>
            <div class="row row-30">
                <div class="col-md-4 col-lg-4">
                    <!-- Team Classic-->
                    <article class="team-classic">
                        <a class="team-classic-figure" href="#"><img src="images/resource/team-1.jpg" alt="" width="370" height="406" /></a>
                        <div class="team-classic-caption">
                            <h5 class="team-classic-name"><a href="#">Ryan Wilson</a></h5>
                            <p class="team-classic-status">Founder, Owner</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-lg-4">
                    <!-- Team Classic-->
                    <article class="team-classic">
                        <a class="team-classic-figure" href="#"><img src="images/resource/team-2.jpg" alt="" width="370" height="406" /></a>
                        <div class="team-classic-caption">
                            <h5 class="team-classic-name"><a href="#">Amanda Clark</a></h5>
                            <p class="team-classic-status">Measure Technician</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-lg-4">
                    <!-- Team Classic-->
                    <article class="team-classic">
                        <a class="team-classic-figure" href="#"><img src="images/resource/team-3.jpg" alt="" width="370" height="406" /></a>
                        <div class="team-classic-caption">
                            <h5 class="team-classic-name"><a href="#">Sam Robinson</a></h5>
                            <p class="team-classic-status">Installer</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- Team section end -->
    <!-- Delivery section start -->
    <section class="section section-sm bg-default bg_second_cl">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-md-4 col-lg-4">
                    <article class="box-icon-ruby">
                        <div class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-ruby-icon fl-bigmug-line-airplane86"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-ruby-title"><a href="single-service.html">Free worldwide Delivery</a></h5>
                                <p class="box-icon-ruby-text">When ordering from $300</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-lg-4">
                    <article class="box-icon-ruby">
                        <div class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-ruby-icon fl-bigmug-line-circular220"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-ruby-title"><a href="single-service.html">High-Quality products</a></h5>
                                <p class="box-icon-ruby-text">Award-winning flooring</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-lg-4">
                    <article class="box-icon-ruby">
                        <div class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                            <div class="unit-left">
                                <div class="box-icon-ruby-icon fl-bigmug-line-hot67"></div>
                            </div>
                            <div class="unit-body">
                                <h5 class="box-icon-ruby-title"><a href="single-service.html">-20% on new collections</a></h5>
                                <p class="box-icon-ruby-text">Get your discount today!</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- Delivery section end -->
    <!-- blog section start -->
    <section class="section section-sm bg-default">
        <div class="container">
            <div class="headingTitle">
                <h1>Latest <span>posts</span></h1>
                <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
            </div>
            <div class="row row-50 justify-content-center">
                <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4">
                    <!-- Post Creative-->
                    <article class="post post-creative">
                        <div class="post-creative-header">
                            <div class="group-md">
                                <div>
                                    <div class="unit flex-column flex-sm-row unit-spacing-sm align-items-center">
                                        <div class="unit-left"><img class="img-circles" src="images/resource/1.jpg" alt="" width="49" height="49" /> </div>
                                        <div class="unit-body">
                                            <div class="post-creative-author">by<a href="#"> Mary Lee</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-creative-time">
                                    <time datetime="2020-05-17">May 17, 2020</time>
                                </div>
                            </div>
                        </div>
                        <a class="post-creative-figure" href="blog-post.html"><img src="images/products/products-img-20.jpg" alt="" width="370" height="267" /></a>
                        <div class="post-creative-footer">
                            <h5 class="post-creative-title"><a href="blog-post.html">Hardwood Flooring Pro’s that 2019</a></h5>
                        </div>
                    </article>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4 display_none_1199">
                    <!-- Post Creative-->
                    <article class="post post-creative">
                        <div class="post-creative-header">
                            <div class="group-md">
                                <div>
                                    <div class="unit flex-column flex-sm-row unit-spacing-sm align-items-center">
                                        <div class="unit-left"><img class="img-circles" src="images/resource/1.jpg" alt="" width="49" height="49" /> </div>
                                        <div class="unit-body">
                                            <div class="post-creative-author">by<a href="#"> Ann Anderson</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-creative-time">
                                    <time datetime="2020-05-17">May 17, 2020</time>
                                </div>
                            </div>
                        </div>
                        <a class="post-creative-figure" href="blog-post.html"><img src="images/products/products-img-18.jpg" alt="" width="370" height="267" /></a>
                        <div class="post-creative-footer">
                            <h5 class="post-creative-title"><a href="blog-post.html">How to Pick Floors / Carpet & Get the Best Deals</a></h5>
                        </div>
                    </article>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4">
                    <!-- Post Creative-->
                    <article class="post post-creative">
                        <div class="post-creative-header">
                            <div class="group-md">
                                <div>
                                    <div class="unit flex-column flex-sm-row unit-spacing-sm align-items-center">
                                        <div class="unit-left"><img class="img-circles" src="images/resource/1.jpg" alt="" width="49" height="49" /> </div>
                                        <div class="unit-body">
                                            <div class="post-creative-author">by<a href="#"> Rupert Wood</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-creative-time">
                                    <time datetime="2020-05-04">May 04, 2020</time>
                                </div>
                            </div>
                        </div>
                        <a class="post-creative-figure" href="blog-post.html"><img src="images/products/products-img-19.jpg" alt="" width="370" height="267" /></a>
                        <div class="post-creative-footer">
                            <h5 class="post-creative-title"><a href="blog-post.html">Hardwood Flooring Pro’s that 2019</a></h5>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- blog section end -->
    <!-- call2 section start -->
    <section class="section bg-default text-center">
        <div class="parallax-container" data-parallax-img="images/bg-cta-3.jpg">
            <div class="parallax-content section-sm context-dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-7 col-xl-6">
                            <h3 class="oh"><span class="d-inline-block">Ready for a new experience?</span></h3>
                            <p class="oh"><span class="d-inline-block">Parquetry is ready to give your floor a completely new look, which is achieved throgh numerous solutions you can find at our store.</span></p>
                            <a class="button button-secondary button-ujarak" href="shop.html">Shop now</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- call2 section end -->
    <!-- clients section start -->
    <section class="section section-sm bg-default">
        <div class="container">
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-clients" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                <a class="clients-modern" href="#"><img src="images/clients/1.jpg" alt="" width="270" height="145" /></a>
                <a class="clients-modern" href="#"><img src="images/clients/2.jpg" alt="" width="270" height="145" /></a>
                <a class="clients-modern" href="#"><img src="images/clients/3.jpg" alt="" width="270" height="145" /></a>
                <a class="clients-modern" href="#"><img src="images/clients/4.jpg" alt="" width="270" height="145" /></a>
                <a class="clients-modern" href="#"><img src="images/clients/5.jpg" alt="" width="270" height="145" /></a>
                <a class="clients-modern" href="#"><img src="images/clients/6.jpg" alt="" width="270" height="145" /></a>
                <a class="clients-modern" href="#"><img src="images/clients/7.jpg" alt="" width="270" height="145" /></a>
                <a class="clients-modern" href="#"><img src="images/clients/8.jpg" alt="" width="270" height="145" /></a>
            </div>
        </div>
    </section>
    <!-- clients section end -->
    <!-- Footer section start -->
    <footer class="section footer-variant-2 footer-modern context-dark">
        <div class="footer-variant-2-content">
            <div class="container">
                <div class="row row-40 justify-content-between">
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="oh-desktop">
                            <div class="">
                                <div class="footer-brand">
                                    <a href="index.html"> <img class="logo-footer" src="images/logos/footer-default.png" alt="Footer Logo" /></a>
                                </div>
                                <p>Duis ornare diam purus, ac malesuada ante congue inc ras gravida ex elit</p>
                                <ul class="footer-contacts d-inline-block d-md-block">
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                            <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                            <div class="unit-body"><a class="link-phone" href="tel:#">+01-23-4226789</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                            <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                                            <div class="unit-body">
                                                <p>Mon-Sat: 07:00AM - 05:00PM</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                            <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                            <div class="unit-body"><a class="link-location" href="#">8500 lorem, New Ispum, Dolor amet sit 12301</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-4">
                        <div class="oh-desktop">
                            <div class="inset-top-18">
                                <h5 class="text-spacing-75">Newsletter</h5>
                                <p>Join our email list for tips and useful information.</p>
                                <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                                    <div class="form-wrap">
                                        <input class="form-input" id="subscribe-form-5-email" type="email" name="email" data-constraints="@Email @Required">
                                        <label class="form-label" for="subscribe-form-5-email">Enter Your E-mail</label>
                                    </div>
                                    <button class="button button-block button-secondary button-ujarak" type="submit">Subscribe</button>
                                </form>
                                <div class="group-lg group-middle">
                                    <p class="footer-social-list-title">Follow Us</p>
                                    <div>
                                        <ul class="list-inline list-inline-xs footer-social-list-2">
                                            <li>
                                                <a class="icon fa fa-facebook" href="#"></a>
                                            </li>
                                            <li>
                                                <a class="icon fa fa-twitter" href="#"></a>
                                            </li>
                                            <li>
                                                <a class="icon fa fa-google-plus" href="#"></a>
                                            </li>
                                            <li>
                                                <a class="icon fa fa-instagram" href="#"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4">
                        <div class="oh-desktop">
                            <div class="inset-top-18">
                                <h5 class="text-spacing-75">Gallery</h5>
                                <div class="row row-10 gutters-10">
                                    <div class="col-4 col-sm-2 col-lg-4">
                                        <article class="thumbnail thumbnail-mary">
                                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-6.jpg" alt="" width="128" height="120" /> </div>
                                            <div class="thumbnail-mary-caption">
                                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-6.jpg" data-lightgallery="item"><img src="images/products/products-img-6.jpg" alt="" width="370" height="303"></a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-4 col-sm-2 col-lg-4">
                                        <article class="thumbnail thumbnail-mary">
                                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /> </div>
                                            <div class="thumbnail-mary-caption">
                                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-5.jpg" data-lightgallery="item"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /></a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-4 col-sm-2 col-lg-4">
                                        <article class="thumbnail thumbnail-mary">
                                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /> </div>
                                            <div class="thumbnail-mary-caption">
                                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-4.jpg" data-lightgallery="item"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /></a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-4 col-sm-2 col-lg-4">
                                        <article class="thumbnail thumbnail-mary">
                                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /> </div>
                                            <div class="thumbnail-mary-caption">
                                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-3.jpg" data-lightgallery="item"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /></a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-4 col-sm-2 col-lg-4">
                                        <article class="thumbnail thumbnail-mary">
                                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /> </div>
                                            <div class="thumbnail-mary-caption">
                                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-2.jpg" data-lightgallery="item"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /></a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-4 col-sm-2 col-lg-4">
                                        <article class="thumbnail thumbnail-mary">
                                            <div class="thumbnail-mary-figure"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /> </div>
                                            <div class="thumbnail-mary-caption">
                                                <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-1.jpg" data-lightgallery="item"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /></a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-variant-2-bottom-panel">
            <div class="container">
                <!-- Rights-->
                <div class="text-center">
                    <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>FinArc Design</span>. All rights reserved. </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
</div>