<div class="row" style="background-color:#F5F5F5">
    <div class="row p-0 m-0">
        <div class="col-12">
            <app-nav></app-nav>
            <!-- <swiper #swiper [virtual]="true">
                <ng-template swiperSlide>Slide 1</ng-template>
                <ng-template swiperSlide>Slide 2</ng-template>
                <ng-template swiperSlide>Slide 3</ng-template>
                <ng-template swiperSlide>Slide 4</ng-template>
                <ng-template swiperSlide>Slide 5</ng-template>
                <ng-template swiperSlide>Slide 6</ng-template>
                <ng-template swiperSlide>Slide 7</ng-template>
            </swiper>
            <button (click)="slideNext()">Next slide</button>
            <button (click)="slidePrev()">Prev slide</button> -->
            <section class="section swiper-container ">
                <div class="swiper-wrapper text-left">
                    <swiper class="swiper-slide">
                        <ng-template swiperSlide *ngFor="let slide of imageSwiper">
                            <img src="../../../assets/swiperSlide/{{slide}}" class="img_swiper" alt="" srcset="">
                            <div class="centered">
                                <h3 class="a_click oh slider-modern-title text-white text-start head"><span data-caption-animate="slideInLeft " data-caption-delay="0 ">บริษัทเวลพลัส จำกัด</span></h3>
                                <h5 class="box-sportlight-title  text-start">
                                    <p class="a_click font_swiper">
                                        ดำเนินธุรกิจมายาวนาน เกี่ยวกับการออกแบบตกแต่งภายใน<br>และรับเหมาครบวงจร จบในที่เดียว รับให้บริการตั้งแต่ <br>การออกแบบ การประเมินราคา งานก่อสร้าง ต่อเติม <br>งานตกแต่งภายใน เฟอร์นิเจอร์บิ้วอิน ตลอดจน ผ้าม่าน วอลเปเปอร์<br>"
                                        ดีลที่เดียวจบ ครบ ไม่ปวดหัว"
                                    </p>
                                </h5>
                                <!-- <p data-caption-animate="fadeInRight" class="text-white text-start font_swiper" data-caption-delay="400 ">ดำเนินธุรกิจมายาวนาน เกี่ยวกับการออกแบบตกแต่งภายใน<br>และรับเหมาครบวงจร จบในที่เดียว รับให้บริการตั้งแต่ <br>การออกแบบ การประเมินราคา งานก่อสร้าง ต่อเติม <br>งานตกแต่งภายใน เฟอร์นิเจอร์บิ้วอิน ตลอดจน ผ้าม่าน วอลเปเปอร์
                                    <br>" ดีลที่เดียวจบ ครบ ไม่ปวดหัว"</p> -->
                            </div>
                        </ng-template>
                    </swiper>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination swiper-pagination-style-2 "></div>
            </section>
            <!-- <section class="section swiper-container swiper-slider swiper-slider-modern" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="true" data-slide-effect="fade">
                <div class="swiper-wrapper text-left">
                
                    <div class="swiper-slide img_slide">
                        <div class="swiper-slide-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                                        <div class="slider-modern-box">
                                            <h3 class="oh slider-modern-title "><span data-caption-animate="slideInLeft " data-caption-delay="0 ">บริษัทเวลพลัส จำกัด</span></h3>
                                            <p data-caption-animate="fadeInRight " data-caption-delay="400 ">ดำเนินธุรกิจมายาวนาน เกี่ยวกับการออกแบบตกแต่งภายใน<br>และรับเหมาครบวงจร จบในที่เดียว รับให้บริการตั้งแต่ <br>การออกแบบ การประเมินราคา งานก่อสร้าง ต่อเติม <br>งานตกแต่งภายใน เฟอร์นิเจอร์บิ้วอิน ตลอดจน ผ้าม่าน
                                                วอลเปเปอร์
                                                <br>" ดีลที่เดียวจบ ครบ ไม่ปวดหัว"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide " data-slide-bg="../../../assets/swiperSlide/มัณ3.png ">
                        <div class="swiper-slide-caption ">
                            <div class="container ">
                                <div class="row ">
                                    <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4 ">
                                        <div class="slider-modern-box">
                                            <h5 class="oh slider-modern-title "><span data-caption-animate="slideInLeft " data-caption-delay="0 ">WELLPLUS INTERIOR CO.,LTD.</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="swiper-slide " data-slide-bg="../../../assets/swiperSlide/เอเชียทีค3.png ">
                        <div class="swiper-slide-caption ">
                            <div class="container ">
                                <div class="row ">
                                    <div class="col-11 col-sm-8 col-md-7 col-lg-5 col-xxl-4 ">
                                        <div class="slider-modern-box ">
                                            <h2 class="oh slider-modern-title "><span data-caption-animate="slideInDown " data-caption-delay="0 ">Unique & Clean</span><span data-caption-animate="slideInLeft " data-caption-delay="0 ">Architecture</span></h2>
                                            <p data-caption-animate="fadeInRight " data-caption-delay="400 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus porttitor bibendum. Aliquam ut mi augue.</p>
                                            <div class="oh button-wrap "><a class="button button-default-outline-2 button-ujarak " href="shop.html " data-caption-animate="slideInUp " data-caption-delay="400 ">Shop now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev "></div>
                <div class="swiper-button-next "></div>
                <div class="swiper-pagination swiper-pagination-style-2 "></div>
            </section> -->
            <!-- <section class="section swiper-container swiper-slider swiper-slider-modern " data-loop="true " data-autoplay="5000 " data-simulate-touch="true " data-nav="true " data-slide-effect="fade ">
                <swiper #swiper [virtual]="true ">
                    <ng-template swiperSlide *ngFor="let slide of imageSwiper ">
                        <img src=" ../../../assets/swiperSlide/{{slide}} " class="img_slide " alt=" " srcset=" ">
                        <div class="centered ">
                            <h5 class="text_head ">
                                <span class="mb-2 ">บริษัทเวลพลัส จำกัด<br>
                                 </span> WELLPLUS INTERIOR CO.,LTD.
                            </h5>
                            <h6 class="text-white mt-1 ">ออกแบบตกแต่งภายใน และรับเหมาครบวงจรจบในที่เดียว</h6>
                        </div>
                    </ng-template>
                </swiper><br>
                <div class="swiper-button-prev " (click)="slidePrev() "></div>
                <div class="swiper-button-next " (click)="slideNext() "></div>
            </section> -->
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-sm-12 col-lg-2"></div>
        <div class="col-sm-12 col-lg-8">
            <!-- Offer section start -->
            <section class="section section-sm bg-default bg_second_cl ">
                <div class="container ">
                    <div class="headingTitle ">
                        <h1>What We <span>Do</span></h1>
                        <hr>
                    </div>
                    <div class="row row-30 justify-content-center ">
                        <div class="col-md-12 col-lg-7 ">
                            <div class="oh ">
                                <article class="box-sportlight ">
                                    <a class="box-sportlight-figure "><img src="../../../assets/interior/interior_mantana/มัณ3.png " alt=" " width="770 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','INTERIOR')">INTERIOR ตกแต่งภายใน</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-5 ">
                            <div class="oh-desktop ">
                                <article class="box-sportlight box-sportlight-sm ">
                                    <a class="box-sportlight-figure "><img src="../../../assets/3D/3D_coffeeShop/กาฬสิน1-4.png " alt=" " width="370 " height="339 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','3D')">DESIGN & 3D ออกแบบ 3มิติ</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 ">
                            <div class="oh-desktop ">
                                <article class="box-sportlight box-sportlight-sm ">
                                    <a class="box-sportlight-figure "><img src="../../../assets/construction/โกดังปากน้ำ/โกดัง3.png " alt=" " width="370 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','CONSTRUCTION')">CONSTRUCTION <br>งานโครงสร้าง</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 ">
                            <div class="oh ">
                                <article class="box-sportlight ">
                                    <a class="box-sportlight-figure"><img src="../../../assets/interior/interior_thecity/city10.png " alt=" " width="370 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title ">
                                            <a class="a_click p-1" (click)="clickRoute('/service','INTERIOR')">INTERIOR+FURNITURE<br>เฟอร์นิเจอร์บิ้วอิน</a>
                                        </h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 ">
                            <div class="oh-desktop ">
                                <article class="box-sportlight box-sportlight-sm ">
                                    <a class="box-sportlight-figure"><img src="../../../assets/interior/interior_wall_nirunville/นิรัน3.png " alt=" " width="370 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','DECORATION')">DECORATION <br>ผ้าม่าน ผนัง อื่นๆ</a></h5>

                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Offer section end -->
            <section class="section bg-default text-center">
                <div class="parallax-container" data-parallax-img="../../../assets/Decor-wallpeper/วอล หัวเตียง-รอบห้อง @โรงแรมคาร์ลตัน กรุงเทพฯ สุขุมวิท/วอล-คาตัล1.png">
                    <div class="parallax-content section-sm context-dark">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-9 col-lg-7 col-xl-6">
                                    <h3 class="oh"><span class="d-inline-block">SERVICE</span></h3>
                                    <p class="oh"><span class="d-inline-block"><b>" ดีลที่เดียวจบ  ครบ ไม่ปวดหัว"</b> </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-sm bg-default text-center isotope-wrap m-0 pt-5 pb-0">
                <div class="container">
                    <div class="isotope-filters isotope-filters-horizontal">
                        <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-8" data-custom-toggle-hide-on-blur="true"><span class="icon fa fa-caret-down"></span>Filter</button>
                        <ul class="isotope-filters-list" id="isotope-8">
                            <li><a href="#" class="active a_click" data-isotope-filter="*" data-isotope-group="gallery" (click)="loadImage2('')">All</a></li>
                            <li><a href="#" class="a_click" data-isotope-filter="INTERIOR" data-isotope-group="gallery" (click)="loadImage3('INTERIOR',false)">INTERIOR</a></li>
                            <li><a href="#" class="a_click" data-isotope-filter="3D" data-isotope-group="gallery" (click)="loadImage3('3D',true)">3D</a></li>
                            <li><a href="#" class="a_click" data-isotope-filter="CONSTRUCTION" data-isotope-group="gallery" (click)="loadImage3('CONSTRUCTION',true)">CONSTRUCTION</a></li>
                            <li><a href="#" class="a_click" data-isotope-filter="DECORATION" data-isotope-group="gallery" (click)="loadImage3('DECORATION',true)">DECORATION</a></li>
                        </ul>
                    </div>
                    <div class="row isotope" [ngClass]="{'isotope2': setClassForIsotope}" data-lightgallery="group">
                        <div class="col-sm-4 col-lg-4 col-xxl-3 isotope-item mb-4" *ngFor="let item of tempImageFilter; index as i" [attr.data-filter]="item.type">
                            <ng-container *ngIf="typeNow == '' && i < id">
                                <article class="thumbnail thumbnail-mary thumbnail-xs">
                                    <div class="thumbnail-mary-figure">
                                        <img src="{{item.img}}" alt="" width="auto" height="300px" />
                                    </div>
                                    <div class="thumbnail-mary-caption">
                                        <a class="icon fl-bigmug-line-zoom60" href="{{item.img}}" data-lightgallery="item"><img src="{{item.img}}" alt="" width="270" height="300" /></a>
                                        <h5 class="thumbnail-mary-title">
                                            <a class="a_click" (click)="changeRoute('/detail',item.id,item.url,item.text,item.type)">{{item.text}}</a>
                                        </h5>
                                    </div>
                                </article>
                            </ng-container>
                            <ng-container *ngIf="typeNow == item.type && i < id">
                                <article class="thumbnail thumbnail-mary thumbnail-xs">
                                    <div class="thumbnail-mary-figure">
                                        <img src="{{item.img}}" alt="" width="auto" height="300px" />
                                    </div>
                                    <div class="thumbnail-mary-caption">
                                        <a class="icon fl-bigmug-line-zoom60" href="{{item.img}}" data-lightgallery="item"><img src="{{item.img}}" alt="" width="270" height="300" /></a>
                                        <h5 class="thumbnail-mary-title">
                                            <a class="a_click" (click)="changeRoute('/detail',item.id,item.url,item.text,item.type)">{{item.text}}</a>
                                        </h5>
                                    </div>
                                </article>
                            </ng-container>
                        </div>
                    </div>
                    <div class="button-wrap p-0 m-0" *ngIf="showLoadMore">
                        <button class="button button-md button-default-outline button-wapasha" (click)="loadImage()">Load More</button>
                    </div>
                </div>
            </section>
            <!-- About us section start -->
            <div class="row p-0 m-0">
                <div class="col-12 p-0 m-0">
                    <section class="section section-sm bg-default">
                        <div class="container">
                            <div class="headingTitle p-0 m-0">
                                <h1>About <span> us</span></h1>
                                <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
                            </div>
                            <div class="row row-lg row-50 justify-content-center border-classic border-classic-2">
                                <div class="col-sm-6 col-md-3">
                                    <div class="counter-creative">
                                        <div class="counter-creative-number"><span class="counter">12</span><span class="icon counter-creative-icon fl-bigmug-line-trophy55"></span> </div>
                                        <h6 class="counter-creative-title">Awards</h6>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="counter-creative">
                                        <div class="counter-creative-number"><span class="counter">2</span><span class="symbol">k</span><span class="icon counter-creative-icon fl-bigmug-line-cube29"></span> </div>
                                        <h6 class="counter-creative-title">Projects</h6>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="counter-creative">
                                        <div class="counter-creative-number"><span class="counter">679</span><span class="icon counter-creative-icon fl-bigmug-line-sun81"></span> </div>
                                        <h6 class="counter-creative-title">Happy clients</h6>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="counter-creative">
                                        <div class="counter-creative-number"><span class="counter">25</span><span class="icon counter-creative-icon fl-bigmug-line-user143"></span> </div>
                                        <h6 class="counter-creative-title">Team members</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- About us section end -->
            <section class="section section-sm bg-default mt-3 pt-5">
                <div class="container">
                    <!-- Owl Carousel-->
                    <h3>Our clients ({{countImg}})</h3>
                    <div class="owl-carousel owl-clients" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                        <a class="clients-modern" href="#" *ngFor="let ref of imageRef">
                            <img src="../../../assets/ref-Logo/{{ref}}" alt="" class="img_ref" />
                        </a>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-sm-12 col-lg-2"></div>
    </div>

</div>
<app-footer></app-footer>