.font_swiper {
    font-size: medium;
    color: white;
    line-height: 28px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0%;
    padding: 0%;
}

.swiperSlide {
    position: relative;
    text-align: center;
    color: white;
    margin: 0%;
    padding: 0%;
}


/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -30%);
    filter: brightness(100%);
}

.sizeImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.img_slide {
    background-size: 100% 100%;
    background-image: url("../../../assets/swiperSlide/ร้านเสื้อผ้า3.png");
    background-repeat: no-repeat;
}

.img_swiper {
    width: 100% !important;
    height: 100vh;
    filter: brightness(65%);
    margin: 0%;
    padding: 0%;
}

.img_ref {
    width: auto;
    height: 90px;
}

.a_click {
    cursor: pointer;
}

.font_gallery {
    font-size: large;
    color: black;
    font-weight: 500;
}

.font_gallery:hover {
    color: white;
}

.text_head {
    font-size: 8vh;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.isotope2 {
    height: auto!important;
}

@media (max-width: 575.98px) {
    .img_slide {
        width: auto;
        height: 300px;
    }
}