<div class="row" style="background-color:#F5F5F5">
    <div class="row p-0 m-0">
        <div class="col-12">
            <app-nav></app-nav>
            <section class="section swiper-container ">
                <div class="swiper-wrapper text-left">
                    <swiper #swiper [virtual]="true" [config]="config" class="swiper-slide">
                        <ng-template swiperSlide *ngFor="let slide of imageSwiper" class="text-start">
                            <img src="../../../assets/swiperSlide/{{slide}}" class="img_swiper" alt="" srcset="">
                            <div class="centered">
                                <div class="effect">
                                    <h3 class="a_click oh slider-modern-title text-white text-start head">
                                        <span data-caption-animate="slideInLeft " data-caption-delay="0 ">
                                            บริษัทเวลพลัส อินทิเรีย จำกัด
                                        </span>
                                    </h3>
                                    <p class="box-sportlight-title  text-start a_click font_swiper p-0 m-0">
                                        ดำเนินธุรกิจมายาวนาน เกี่ยวกับการออกแบบตกแต่งภายใน<br>และรับเหมาครบวงจรจบในที่เดียว รับให้บริการตั้งแต่<br>การออกแบบ การประเมินราคา งานก่อสร้าง ต่อเติม <br>งานตกแต่งภายใน เฟอร์นิเจอร์บิวท์อิน ตลอดจน <br>ผ้าม่าน
                                        วอลเปเปอร์ "ดีลที่เดียวจบ ครบ ไม่ปวดหัว"
                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>
                <div class="swiper-button-prev" (click)="slidePrev()"></div>
                <div class="swiper-button-next" (click)="slideNext()"></div>
                <div class="swiper-pagination swiper-pagination-style-2 "></div>
            </section>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <!-- Offer section start -->
            <section class="section section-sm bg-default bg_second_cl ">
                <div class="container justify-content-center m-auto">
                    <div class="headingTitle ">
                        <h1>What We <span>Do</span></h1>
                        <hr>
                    </div>
                    <div class="row row-30 justify-content-center p-sm-0 m-sm-0">
                        <div class="col-md-12 col-lg-7 text-md-center">
                            <div class="oh ">
                                <article class="box-sportlight ">
                                    <a class="box-sportlight-figure "><img src="../../../assets/interior/interior_mantana/มัณ3.png " alt=" " width="770 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','INTERIOR')">INTERIOR ตกแต่งภายใน</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-5 ">
                            <div class="oh-desktop ">
                                <article class="box-sportlight box-sportlight-sm ">
                                    <a class="box-sportlight-figure "><img src="../../../assets/3D/3D_coffeeShop/กาฬสิน1-4.png " alt=" " width="370 " height="339 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','Interior-3D')">DESIGN & 3D ออกแบบ 3มิติ</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 ">
                            <div class="oh-desktop ">
                                <article class="box-sportlight box-sportlight-sm ">
                                    <a class="box-sportlight-figure "><img src="../../../assets/construction/โกดังปากน้ำ/โกดัง3.png " alt=" " width="370 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','CONSTRUCTION')">CONSTRUCTION <br>งานโครงสร้าง</a></h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 ">
                            <div class="oh ">
                                <article class="box-sportlight ">
                                    <a class="box-sportlight-figure"><img src="../../../assets/interior/interior_thecity/city10.png " alt=" " width="370 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title ">
                                            <a class="a_click p-1" (click)="clickRoute('/service','INTERIOR')">INTERIOR & FURNITURE<br>เฟอร์นิเจอร์และบิวท์อิน</a>
                                        </h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 ">
                            <div class="oh-desktop ">
                                <article class="box-sportlight box-sportlight-sm ">
                                    <a class="box-sportlight-figure"><img src="../../../assets/interior/interior_wall_nirunville/นิรัน3.png " alt=" " width="370 " height="332 " /></a>
                                    <div class="box-sportlight-caption ">
                                        <h5 class="box-sportlight-title "><a class="a_click" (click)="clickRoute('/service','DECORATION')">DECORATION <br>ผ้าม่าน วอลเปเปอร์ ท๊อปหิน กระเบื้องยาง</a></h5>

                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Offer section end -->
            <section class="section bg-default text-center">
                <div class="parallax-container" data-parallax-img="../../../assets/Decor-wallpeper/วอลหัวเตียง-รอบห้อง@โรงแรมคาร์ลตันกรุงเทพฯสุขุมวิท/วอล-คาตัล1.png">
                    <div class="parallax-content section-sm context-dark">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-9 col-lg-7 col-xl-6">
                                    <h3 class="oh"><span class="d-inline-block">SERVICE</span></h3>
                                    <p class="oh"><span class="d-inline-block"><b>"ดีลที่เดียวจบ  ครบ ไม่ปวดหัว"</b> </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-sm bg-default text-center isotope-wrap m-0 pt-5 pb-0">
                <div class="container  justify-content-center m-auto">
                    <div class="isotope-filters isotope-filters-horizontal">
                        <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha {{getActive()}}" data-custom-toggle="#isotope-8" data-custom-toggle-hide-on-blur="true" (click)="setActive = !setActive"><span class="icon fa fa-caret-down"></span>Filter</button>
                        <ul class="isotope-filters-list {{getActive()}}" id="isotope-8">
                            <li><a #click1 href="#" class="active a_click" data-isotope-filter="ALL" data-isotope-group="gallery" (click)="test(1)">All</a></li>
                            <li><a #click2 href="#" class="a_click" data-isotope-filter="INTERIOR" data-isotope-group="gallery" (click)="test(2)">INTERIOR</a></li>
                            <li><a #click3 href="#" class="a_click" data-isotope-filter="Interior-3D" data-isotope-group="gallery" (click)="test(3)">3D</a></li>
                            <li><a #click4 href="#" class="a_click" data-isotope-filter="CONSTRUCTION" data-isotope-group="gallery" (click)="test(4)">CONSTRUCTION</a></li>
                            <li><a #click5 href="#" class="a_click" data-isotope-filter="DECORATION" data-isotope-group="gallery" (click)="test(5)">DECORATION</a></li>
                        </ul>
                    </div>
                    <div class="row row-isotope  isotope" style="height:750px" data-lightgallery="group">
                        <div class="col-sm-4 col-lg-4 col-xxl-3 isotope-item mb-4" *ngFor="let item of tempImageFilter1; index as i" data-filter='ALL'>
                            <article *ngIf="i < id" class="thumbnail thumbnail-mary thumbnail-xs">
                                <div class="thumbnail-mary-figure">
                                    <img src="{{item.img}}" alt="" width="auto" height="300px" />
                                </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" data-bs-toggle="modal" (click)="modalImage(item.id,item.url)" href="#modalImageSwiper">
                                        <img src="{{item.img}}" alt="" width="270" height="300" />
                                    </a>
                                    <h6 class="thumbnail-mary-title fontfilter">
                                        <a class="a_click" (click)="changeRoute('/detail',item.id,item.url,item.text,item.type)">{{item.text}}</a>
                                    </h6>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xxl-3 isotope-item mb-4" *ngFor="let item of tempImageFilter2; index as i" data-filter='INTERIOR'>
                            <article *ngIf="i < id" class="thumbnail thumbnail-mary thumbnail-xs">
                                <div class="thumbnail-mary-figure">
                                    <img src="{{item.img}}" alt="" width="auto" height="300px" />
                                </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" data-bs-toggle="modal" (click)="modalImage(item.id,item.url)" href="#modalImageSwiper">
                                        <img src="{{item.img}}" alt="" width="270" height="300" />
                                    </a>
                                    <h6 class="thumbnail-mary-title fontfilter">
                                        <a class="a_click" (click)="changeRoute('/detail',item.id,item.url,item.text,item.type)">{{item.text}}</a>
                                    </h6>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xxl-3 isotope-item mb-4" *ngFor="let item of tempImageFilter3; index as i" data-filter='Interior-3D'>
                            <article *ngIf="i < id" class="thumbnail thumbnail-mary thumbnail-xs">
                                <div class="thumbnail-mary-figure">
                                    <img src="{{item.img}}" alt="" width="auto" height="300px" />
                                </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" data-bs-toggle="modal" (click)="modalImage(item.id,item.url)" href="#modalImageSwiper">
                                        <img src="{{item.img}}" alt="" width="270" height="300" />
                                    </a>
                                    <h6 class="thumbnail-mary-title fontfilter">
                                        <a class="a_click" (click)="changeRoute('/detail',item.id,item.url,item.text,item.type)">{{item.text}}</a>
                                    </h6>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xxl-3 isotope-item mb-4" *ngFor="let item of tempImageFilter4; index as i" data-filter='CONSTRUCTION'>
                            <article *ngIf="i < id" class="thumbnail thumbnail-mary thumbnail-xs">
                                <div class="thumbnail-mary-figure">
                                    <img src="{{item.img}}" alt="" width="auto" height="300px" />
                                </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" data-bs-toggle="modal" (click)="modalImage(item.id,item.url)" href="#modalImageSwiper">
                                        <img src="{{item.img}}" alt="" width="270" height="300" />
                                    </a>
                                    <h6 class="thumbnail-mary-title fontfilter">
                                        <a class="a_click" (click)="changeRoute('/detail',item.id,item.url,item.text,item.type)">{{item.text}}</a>
                                    </h6>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xxl-3 isotope-item mb-4" *ngFor="let item of tempImageFilter5; index as i" data-filter='DECORATION'>
                            <article *ngIf="i < id" class="thumbnail thumbnail-mary thumbnail-xs">
                                <div class="thumbnail-mary-figure">
                                    <img src="{{item.img}}" alt="" width="auto" height="300px" />
                                </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" data-bs-toggle="modal" (click)="modalImage(item.id,item.url)" href="#modalImageSwiper">
                                        <img src="{{item.img}}" alt="" width="270" height="300" />
                                    </a>
                                    <h6 class="thumbnail-mary-title fontfilter">
                                        <a class="a_click" (click)="changeRoute('/detail',item.id,item.url,item.text,item.type)">{{item.text}}</a>
                                    </h6>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="button-wrap p-0 m-0" *ngIf="showLoadMore">
                        <button class="button button-md button-default-outline button-wapasha" (click)="loadImage()">Load More</button>
                    </div>
                    <div class="button-wrap p-0 m-0" *ngIf="hideLoadMore">
                        <button class="button button-md button-default-outline button-wapasha" (click)="hideImage()">Hide</button>
                    </div>
                </div>
            </section>

            <!-- About us section start -->
            <section class="section section-sm bg-default">
                <div class="container justify-content-center m-auto">
                    <div class="headingTitle m-md-0 m-2 mb-0">
                        <h1>About <span> us</span></h1>
                    </div>
                    <div class="p-md-3 p-0 m-2">
                        <p class="fontAbout">ดำเนินธุรกิจมายาวนาน เกี่ยวกับการออกแบบตกแต่งภายในและรับเหมาครบวงจรจบในที่เดียว รับให้บริการตั้งแต่ การออกแบบ การประเมินราคา งานก่อสร้าง ต่อเติม งานตกแต่งภายใน เฟอร์นิเจอร์บิวท์อิน ตลอดจน ผ้าม่าน วอลเปเปอร์ "ดีลที่เดียวจบ ครบ ไม่ปวดหัว"</p>
                    </div>
                    <div class="row row-lg row-50 justify-content-center border-classic border-classic-2">
                        <div class="col-sm-6 col-md-3">
                            <div class="counter-creative">
                                <div class="counter-creative-number"><span class="counter text-dark">12</span><span class="icon counter-creative-icon fl-bigmug-line-trophy55"></span> </div>
                                <h6 class="counter-creative-title text-dark">Awards</h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="counter-creative">
                                <div class="counter-creative-number"><span class="counter text-dark">2</span><span class="symbol text-dark">k</span><span class="icon counter-creative-icon fl-bigmug-line-cube29"></span> </div>
                                <h6 class="counter-creative-title">Projects</h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="counter-creative">
                                <div class="counter-creative-number"><span class="counter text-dark">679</span><span class="icon counter-creative-icon fl-bigmug-line-sun81"></span> </div>
                                <h6 class="counter-creative-title">Happy clients</h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="counter-creative">
                                <div class="counter-creative-number"><span class="counter text-dark">25</span><span class="icon counter-creative-icon fl-bigmug-line-user143"></span> </div>
                                <h6 class="counter-creative-title">Team members</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About us section end -->
            <section class="section section-sm bg-default mt-3 pt-5">
                <div class="container justify-content-center m-auto">
                    <!-- Owl Carousel-->
                    <h3>Our clients ({{countImg}})</h3>
                    <div class="owl-carousel owl-clients" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                        <a class="clients-modern a_click" *ngFor="let ref of imageRef">
                            <img src="../../../assets/ref-Logo/{{ref}}" alt="" class="img_ref" />
                        </a>
                    </div>
                </div>
            </section>
            <!-- Modal Image -->
            <div class="modal fade" id="modalImageSwiper" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#A58838" *ngFor="let data of arrImageModal">
                            <p class="modal-title text-white fontHeadModal" id="exampleModalToggleLabel">{{data.type}} {{data.text}}</p>
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                                <i class="bi bi-x-lg text-white fw-2"></i>
                            </button>
                        </div>
                        <div class="modal-body m-2 p-0">
                            <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [spaceBetween]="5" [navigation]="true" [thumbs]="{ swiper: thumbsSwiper }" class="mySwiper2">
                                <ng-template swiperSlide *ngFor="let item of imageModal">
                                    <img src="{{imageUrl}}{{item}}" class="imageModal" />
                                </ng-template>
                            </swiper>
                            <swiper (swiper)="thumbsSwiper = $event" [spaceBetween]="5" [slidesPerView]="5" [freeMode]="true" [watchSlidesProgress]="false" class="mySwiper">
                                <ng-template swiperSlide *ngFor="let item of imageModal">
                                    <img src="{{imageUrl}}{{item}}" class="imageSlideModal" />
                                </ng-template>
                            </swiper>
                        </div>
                        <div class="modal-footer">
                            <button class="btn " data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

</div>
<app-footer></app-footer>