.img_logo {
    width: auto;
    height: 60px;
}

.a_nav {
    cursor: pointer;
}

#phone {
    width: auto;
    height: 2vw;
}

#phone:hover {
    color: #A58838;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    #phone {
        width: auto;
        height: 5vw;
    }
    .img_logo {
        width: auto;
        height: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    #phone {
        width: auto;
        height: 7vw;
    }
    .img_logo {
        width: auto;
        height: 50px;
    }
}